{% extends "base/base.html" %}
{% load humanize %}

{% block titulo %}Contas{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Conta</h1>
    <p>Lista de contas registradas.</p>
</div>
{% endblock %}

{% block conteudo %}
<div style="float: right;">
    <p>
        <a class="btn btn-primary" role="button" href="{% url 'gerenciamento_carteiras_contas:criar' carteira_slug %}">Criar</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for conta in contas %}
        <tr onclick="window.location='{% url 'gerenciamento_carteiras_contas:detalhar' carteira_slug conta.slug %}'">
            <td>{{ conta.nome }}</td>
            <td>
                <a href="{% url 'gerenciamento_carteiras_contas:editar' carteira_slug conta.slug %}">editar</a>
                <a href="{% url 'gerenciamento_carteiras_contas:excluir' carteira_slug conta.slug %}">excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'base/paginacao.html' %}
<div style="float: right; margin-left: 3px;">
    <a class="btn btn-outline-primary" role="button" href="{{ href_voltar }}">Voltar</a>
</div>
{% endblock %}