{% extends "base/base.html" %}
{% load transformar_em_texto %}
{% load humanize %}

{% block titulo %}Contas{% endblock %}

{% block cabecalho %}
<div class="container">
  <h1>Conta</h1>
  <p>Detalhamento da conta registrada.</p>
</div>
{% endblock %}

{% block conteudo %}
<form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="inputTitulo" class="form-label">Nome</label>
      <input type="text" id="inputTitulo" class="form-control" value="{{ conta.nome }}">
    </div>
    <div class="mb-3">
      <label for="inputSaldo" class="form-label">Saldo</label>
      <input type="text" id="inputSaldo" class="form-control" value="R$ {{ conta.saldo|intcomma }}">
    </div>
  </fieldset>
</form>
<div style="float: right; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{{ href_voltar }}">Voltar</a>
</div>
{% endblock %}