{% extends "base/base.html" %}

{% block titulo %}Despesas{% endblock %}

{% block conteudo %}
    <h2>Excluir Despesa?</h2>
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}    
    <form method="post">{% csrf_token %}
        <p>
            Você tem certeza que quer apagar a despesa <strong>{{ object.descricao|truncatechars:30 }}</strong>?
        </p>
        <p>
            <input class="btn btn-primary" role="button" type="submit" value="Apagar">
        </p>
    </form>
    <div style="float: right;">
        <a class="btn btn-outline-primary" role="button" href="{% url 'despesas:lista' %}">Voltar</a>
    </div>
{% endblock %}