{% extends "base/base.html" %}
{% load transformar_em_texto %}
{% load despesa_calculos %}
{% load humanize %}

{% block titulo %}Despesas{% endblock %}

{% block cabecalho %}
<div class="container">
    <div class="bd-intro ps-lg-4">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <h1 class="bd-title" id="content">Cartão</h1>
        </div>
        <p class="bd-lead">Detalhamento da despesa registrada.</p>
    </div>
</div>
{% endblock %}

{% block conteudo %}
<form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="inputDataHora" class="form-label">Data e Hora</label>
      <input type="datetime-local" id="inputDataHora" class="form-control"
        value="{{ object.datahora|datetime_para_texto }}">
    </div>
    <div class="mb-3">
      <label for="inputDescricao" class="form-label">Descrição</label>
      <input type="text" id="inputDescricao" class="form-control" value="{{ object.descricao|safe }}">
    </div>
    <div class="mb-3">
      <label for="inputParcelado" class="form-label">Parcelado</label>
      <input type="text" id="inputParcelado" class="form-control" value="{{ object.parcelado }}">
    </div>
    <div class="mb-3">
      <label for="inputValor" class="form-label">Valor</label>
      <input type="text" id="inputValor" class="form-control" aria-describedby="valorAjuda"
        value="R$ {{ object|calcular_parcela|intcomma }}">
      <small id="valorAjuda" class="form-text text-muted">Se for parcelado, será apresentado o valor da parcela.</small>
    </div>
    <div class="mb-3">
      <label for="inputCategoria" class="form-label">Categoria</label>
      <input type="text" id="inputCategoria" class="form-control" value="{{ object.categorias|queryset_para_texto }}">
    </div>
    <div class="mb-3">
      <label for="inputCriadoEm" class="form-label">Criado em</label>
      <input type="datetime-local" id="inputCriadoEm" class="form-control"
        value="{{ object.criado_em|datetime_para_texto }}">
    </div>
    <div class="mb-3">
      <label for="inputAtualizadoEm" class="form-label">Atualizado em</label>
      <input type="datetime-local" id="inputAtualizadoEm" class="form-control"
        value="{{ object.atualizado_em|datetime_para_texto }}">
    </div>
  </fieldset>
</form>
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'despesas:editar' object.id %}">Editar</a>
</div>
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'despesas:excluir' object.id %}">Excluir</a>
</div>
<div style="float: right; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'despesas:lista' %}">Voltar</a>
</div>
{% endblock %}