<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesas</title>
</head>
<body>
    <h1>Criar Despesa</h1>
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}
    <form method="post">{% csrf_token %}
        <p>
            {{ form.descricao.errors }}
            <label for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}:</label>
            {{ form.descricao }}
        </p>
        <p>
            {{ form.valor.errors }}
            <label for="{{ form.valor.id_for_label }}">{{ form.valor.label }}:</label>
            {{ form.valor }}
        </p>
        <p>
            {{ form.datahora.errors }}
            <label for="{{ form.datahora.id_for_label }}">{{ form.datahora.label }}:</label>
            {{ form.datahora }}
        </p>
        <p>
            {{ form.categorias.errors }}
            <label for="{{ form.categorias.id_for_label }}">{{ form.categorias.label }}:</label>
            {{ form.categorias }}
        </p>
        <input type="submit" value="Gravar">
    </form>
</body>
</html>