{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base/tema-v1.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% include 'base/includes/barra_superior.html' %}
    {% include 'base/includes/menu_lateral.html' %}
    <header>
        {% block cabecalho %}
        {% endblock %}
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        {% block rodape %}
        {% endblock %}
    </footer>
</div>
<script src="{% static 'js/base/tema-v1.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>