<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home:index' %}">ControleFinanceiro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if request.user.is_anonymous %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'carteiras:lista' %}">Carteiras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cartoes:lista' %}">Cartoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'despesas:lista' %}">Despesas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
