{% extends "base/base.html" %}

{% block titulo %}PublicoPage{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Controle Financeiro</h1>
    <p>Ferramenta de apoio para seu controle financeiro.</p>
</div>
{% endblock %}

{% block conteudo %}
<article>
    <p>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."<br>
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."    
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at finibus massa, ac porttitor dui. Suspendisse lorem
        nisi, congue non fermentum sed, accumsan in erat. Nam ultrices nunc sit amet nulla auctor, quis convallis augue
        viverra. Duis ornare convallis lorem, in accumsan tortor tempor in. Praesent auctor quis nibh et vulputate. Praesent
        at est mollis, scelerisque est a, volutpat ante. Vivamus sollicitudin molestie arcu vel pulvinar. Fusce ultrices
        lacus at ipsum maximus, ut elementum risus pellentesque. Cras efficitur in est vitae tincidunt. In pulvinar sagittis
        est in viverra. Integer porta eros ac erat porttitor, non accumsan sapien placerat. Maecenas et orci sollicitudin,
        semper nisl eget, dictum arcu.
    </p>
    <p>
        Fusce a dui quis lacus tincidunt vulputate ut at libero. Nam ultrices hendrerit odio, sed facilisis arcu consectetur
        in. Sed dolor sapien, venenatis sed congue in, congue ut nibh. Nullam scelerisque leo ac elementum mollis. Etiam sed
        maximus ante, et imperdiet lacus. Sed molestie turpis mi, quis dignissim ipsum viverra sit amet. Fusce rhoncus justo
        sit amet justo sodales dignissim. Ut placerat a nisl nec ornare. Curabitur semper velit quis volutpat aliquam. Etiam
        pulvinar, ante sit amet congue efficitur, urna sem pharetra velit, id pellentesque sem lacus in mauris. In vitae
        pellentesque justo. Fusce pellentesque aliquam arcu.    
    </p>
    <p>
        Suspendisse vitae aliquet erat. In imperdiet eros turpis, in rutrum odio finibus a. Duis id risus non turpis
        molestie cursus et eget ante. Sed porttitor eget libero in maximus. Proin placerat cursus nisl quis volutpat.
        Pellentesque sagittis ipsum sem, id dictum purus molestie et. Proin feugiat, massa at pellentesque tincidunt, libero
        sem sodales leo, vel mollis urna mi a lacus. Etiam sed varius libero, id rhoncus leo. Quisque quis tempus eros.
        Nullam hendrerit nulla id ante aliquam gravida. Maecenas volutpat laoreet laoreet. Suspendisse ipsum velit, tempor
        id tellus et, faucibus pharetra neque. Nullam dictum commodo molestie. Praesent ac purus ex. Donec risus sem,
        volutpat quis augue ac, lacinia tempus risus.            
    </p>
    <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam et pellentesque est. Praesent nunc lorem,
        volutpat ut ligula vel, posuere bibendum nunc. Donec nec maximus felis, id sagittis diam. In hac habitasse platea
        dictumst. Nulla posuere massa id ultrices imperdiet. Donec at hendrerit turpis, at elementum sapien.    
    </p>
    <p>
        Suspendisse convallis velit eu justo semper fringilla. Proin sit amet felis facilisis, tempor orci ut, condimentum
        sapien. Donec cursus pulvinar suscipit. Fusce varius sapien sed ante congue interdum. Nulla vitae faucibus tortor,
        eget consequat est. Sed eu consectetur leo. Duis tellus ante, molestie a est id, dictum sodales leo. Praesent
        interdum ipsum lectus, vel eleifend dui maximus eget. Ut scelerisque luctus libero, in sollicitudin elit commodo
        vel. Aliquam fermentum purus nunc, at condimentum ex commodo pellentesque. Aenean malesuada egestas urna a
        efficitur. Pellentesque sed urna pretium, ornare arcu fermentum, aliquam diam. Donec iaculis venenatis libero in
        congue. Morbi vitae urna velit.    
    </p>
</article>
{% endblock %}