{% extends "base/base.html" %}

{% block titulo %}Login{% endblock %}

{% block cabecalho %}
<div class="container">
  <h1>Usuario</h1>
  <p>Efetue login para desfrutar do conteudo exclusivo.</p>
</div>
{% endblock %}

{% block conteudo %}
{% if next %}
{% if user.is_authenticated %}
<p>Sua conta não tem acesso a esta pagina. Para seguir,
  favor faça login com uma conta que tem acesso.</p>  
{% else %}
<p>Favor faça o login para ver essa pagina.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'contas:login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% if form.errors %}
<p>Seu usuario e senha não foram encontrados. Favor tente novamente.</p>
{% endif %}
<p><a href="{% url 'contas:mudar_senha' %}">Esqueceu a senha?</a></p>
<p><a href="{% url 'contas:criar' %}">Deseja criar um usuario?</a></p>
{% endblock %}