.cartao {
    width: 100%;
    max-width: 370px;
}

.wrapper-carousel {
    width: 100%;
    max-width: 370px;
    display: grid;
    grid-template-areas: 
        'wrapperCarouselCartao wrapperCarouselCartao'
        'wrapperCarouselBotao1 wrapperCarouselBotao2';
    grid-template-columns: 50% 50%;
}

@media (min-width: 576px) {
    .wrapper-carousel {
        margin: 6px;
    }
}

.carousel {
    grid-area: wrapperCarouselCartao;
    width: 100%;
    /* max-width: 370px; */
    border-radius: 10px;
    margin-bottom: 35px;
}

/* @media (min-width: 576px) {
    .carousel {
        margin: 6px;
        margin-bottom: 40px;
    }
} */

.carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
    counter-increment: gallery-cell;
    background-image: linear-gradient(0deg, #C5D5E6,#A4C2E7);
}

.carousel-cell-disabled {
    width: 100%;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
    counter-increment: gallery-cell;
    background-image: linear-gradient(0deg, #C5D5E6,#A4C2E7);
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel-cell.is-selected {
    background-image: linear-gradient(40deg, #FF9AA0,#FE55A3,#842FEF);
}

.flickity-page-dots .dot {
    background: #B5B3C0;
}

.flickity-page-dots .dot.is-selected {
    background: #4695EF;
    width: 24px;
    border-radius: 10px;
}

.flickity-button {
    background: transparent;
    color: hsla(0,0%,100%,.25);
}

.carousel-cartao {
    display: grid;
    grid-template-areas: 
        'carouselCartaoTitulo carouselCartaoIcone1'
        'carouselCartaoDetalhe carouselCartaoIcone1'
        'carouselCartaoValor carouselCartaoValor';
    grid-template-columns: 80% 20%;
    color: white;
    padding: 1rem;
}

.carousel-cartao .titulo {
    grid-area: carouselCartaoTitulo;
    font-size: 1.2rem;
    font-weight: bold;
}

.carousel-cartao .detalhe {
    grid-area: carouselCartaoDetalhe;
    font-size: 1rem;
}

.carousel-cartao .icone {
    grid-area: carouselCartaoIcone1;
    font-size: 0.7rem;
    text-align: end;
}

.carousel-cartao .detalhe>span {
    font-weight: bolder;
}

.carousel-cartao .valor {
    grid-area: carouselCartaoValor;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 75px;
}

.botao-criar-centro-custo {
    grid-area: wrapperCarouselBotao1;
    margin-right: 2.5px;
}

.botao-criar-lancamento {
    grid-area: wrapperCarouselBotao2;
    margin-left: 2.5px;
}

.lancamento-linha {
    margin-bottom: 5px;
    display: grid;
    grid-template-areas: 
        'lancLogo lancTitulo lancValor'
        'lancLogo lancData lancValor';
    grid-template-columns: 10% 50% 40%;
}

.lancamento-logo { 
    grid-area: lancLogo;
    line-height: 45px;
    color: #B5B3C0;
    font-size: 1.2rem;
    font-weight: bold;
}

.lancamento-titulo {
    grid-area: lancTitulo;
    color: #212529;
    font-size: 1rem;
    font-weight: bold;
}

.lancamento-data {
    grid-area: lancData;
    color: #B5B3C0;
    font-size: 0.9rem;
}

.lancamento-valor {
    grid-area: lancValor;
    text-align: right;
    line-height: 45px;
    font-size: 1.1rem;
    font-weight: bold;
}

.modal-criar-centro-custo {
    display: grid;
    grid-template-areas: 
        'modalCentroCustoFechar modalCentroCustoFechar'
        'modalCentroCustoTexto modalCentroCustoTexto'
        'modalCentroCustoBotao1 modalCentroCustoBotao2';
    grid-template-columns: 50% 50%;
}

.modal-criar-centro-custo .texto {
    grid-area: modalCentroCustoTexto;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1.1rem;
    /* font-weight: bold; */
}

.modal-criar-centro-custo .botao1 {
    grid-area: modalCentroCustoBotao1;
    margin-right: 2.5px;
    display: inherit;
}

.modal-criar-centro-custo .botao2 {
    grid-area: modalCentroCustoBotao2;
    margin-left: 2.5px;
    display: inherit;
}

.modal-content {
    max-width: 500px;
}

.modal-close {
    grid-area: modalCentroCustoFechar;
    text-align: right;
    line-height: 10px;
    margin-top: 7px;
}
