.cartao {
    width: 100%;
    max-width: 320px;
}

.gallery {
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.gallery-cell {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
    background: #ACC2E5;
    counter-increment: gallery-cell;
}
  
.gallery-cell.is-selected {
    background: #FE55A3;
}
  
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(galeria-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

@media only screen and (min-width: 576px) {
    /* Para desktop: */
    .gallery {
        margin: 6px;
        margin-bottom: 40px;
    }
}

.lancamento-linha {
    margin-bottom: 5px;
    display: grid;
    grid-template-areas: 
        'lancLogo lancTitulo lancValor'
        'lancLogo lancData lancValor';
    grid-template-columns: 10% 50% 40%;
}

.lancamento-logo { 
    grid-area: lancLogo;
    line-height: 45px;
    color: #B5B3C0;
    font-size: 1.2rem;
    font-weight: bold;
}

.lancamento-titulo {
    grid-area: lancTitulo;
    color: #212529;
    font-size: 1rem;
    font-weight: bold;
}

.lancamento-data {
    grid-area: lancData;
    color: #B5B3C0;
    font-size: 0.9rem;
}

.lancamento-valor {
    grid-area: lancValor;
    text-align: right;
    line-height: 45px;
    font-size: 1.1rem;
    font-weight: bold;
}
