{% extends "base/base.html" %}

{% block titulo %}Cartões{% endblock %}

{% block conteudo %}
    <h2>Atualizar Cartão</h2>
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>
            <input class="btn btn-primary" role="button" type="submit" value="Atualizar">
        </p>
    </form>
    <p>
        <a class="btn btn-secondary" role="button" href="{% url 'cartoes:lista' %}">voltar</a>
    </p>
{% endblock %}
