{% extends "base/base.html" %}
{% load humanize %}

{% block titulo %}Cartões{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Cartão</h1>
    <p>Lista de cartões registrados.</p>
</div>
{% endblock %}

{% block conteudo %}
<div style="float: right;">
    <p>
        <a class="btn btn-primary" role="button" href="{% url 'cartoes:criar' %}">Criar</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cartao in cartoes %}
        <tr onclick="window.location='{% url 'cartoes:detalhar' cartao.id %}'">
            <td>{{ cartao.titulo }}</td>
            <td>
                <a href="{% url 'cartoes:editar' cartao.id %}">editar</a>
                <a href="{% url 'cartoes:excluir' cartao.id %}">excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'base/paginacao.html' %}

{% endblock %}