{% extends "base/base.html" %}

{% block titulo %}Cartões{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Cartão</h1>
</div>
{% endblock %}

{% block conteudo %}
{% if form.subject.errors %}
<ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
</ol>
{% endif %}
<form method="post" action="{% url 'gerenciamento_carteiras_cartoes:excluir' carteira_slug cartao.slug %}">{% csrf_token %}
    <p>
        Você tem certeza que quer apagar o cartão <strong>{{ cartao.nome }}</strong>?
    </p>
    <input class="btn btn-primary" role="button" type="submit" value="Apagar">
    <div style="float: right;">
        <button class="btn btn-outline-primary" role="button" onclick="window.history.back();">Voltar</button>
    </div>
</form>
{% endblock %}