{% extends "base/base.html" %}
{% load humanize %}

{% block titulo %}Cartões{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Cartão</h1>
    <p>Lista de cartões registrados.</p>
</div>
{% endblock %}

{% block conteudo %}
<div style="float: right;">
    <p>
        <a class="btn btn-primary" role="button" href="{% url 'carteiras:cartoes:criar' carteira_slug %}">Criar</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cartao in cartoes %}
        <tr onclick="window.location='{% url 'carteiras:cartoes:detalhar' carteira_slug cartao.slug %}'">
            <td>{{ cartao.nome }}</td>
            <td>
                <a href="{% url 'carteiras:cartoes:editar' carteira_slug cartao.slug %}">editar</a>
                <a href="{% url 'carteiras:cartoes:excluir' carteira_slug cartao.slug %}">excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'base/paginacao.html' %}
<div style="float: right; margin-left: 3px;">
    <a class="btn btn-outline-primary" role="button" href="{{ href_voltar }}">Voltar</a>
</div>
{% endblock %}