{% extends "base/base.html" %}
{% load humanize %}

{% block titulo %}lancamentos{% endblock %}

{% block cabecalho %}
<div class="container">
  <h1>Lancamento</h1>
  <p>Detalhamento do Lancamento registrado.</p>
</div>
{% endblock %}

{% block conteudo %}
<form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="inputLancamentoTipo" class="form-label">Tipo</label>
      <input type="text" id="inputLancamentoTipo" class="form-control" value="{% if lancamento.e_receita %}Receita{% else %}Despesa{% endif %}">
    </div>
    <div class="mb-3">
      <label for="inputLancamentoCentroCusto" class="form-label">Centro de Custo</label>
      <input type="text" id="inputLancamentoCentroCusto" class="form-control" value="{{ lancamento.centro_custo.descricao }}">
    </div>
    {% if lancamento.e_receita %}
    <div class="mb-3">
      <label for="inputReceitaNome" class="form-label">Nome</label>
      <input type="text" id="inputReceitaNome" class="form-control" value="{{ receita.nome }}">
    </div>
    <div class="mb-3">
      <label for="inputReceitaValorTotal" class="form-label">Valor total</label>
      <input type="text" id="inputReceitaValorTotal" class="form-control" value="{{ receita.valor_total|intcomma }}">
    </div>
    <div class="mb-3">
      <label for="inputReceitaDataHora" class="form-label">Data e Hora</label>
      <input type="text" id="inputReceitaDataHora" class="form-control" value="{{ receita.datahora|date:'d/m/Y H:i' }}">
    </div>
    {% else %}
    <div class="mb-3">
      <label for="inputReceitaNome" class="form-label">Nome</label>
      <input type="text" id="inputReceitaNome" class="form-control" value="{{ despesa.nome }}">
    </div>
    <div class="mb-3">
      <label for="inputReceitaValorTotal" class="form-label">Valor total</label>
      <input type="text" id="inputReceitaValorTotal" class="form-control" value="{{ despesa.valor_total|intcomma }}">
    </div>
    <div class="mb-3">
      <label for="inputReceitaDataHora" class="form-label">Data e Hora</label>
      <input type="text" id="inputReceitaDataHora" class="form-control" value="{{ despesa.datahora|date:'d/m/Y H:i' }}">
    </div>
    {% endif %}
  </fieldset>
</form>
<div style="float: right; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{{ href_voltar }}">Voltar</a>
</div>
{% endblock %}