{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block titulo %}lancamentos{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Lancamento</h1>
    <p>Cadastre sua Lancamento.</p>
</div>
{% endblock %}

{% block conteudo %}
{% if form.subject.errors %}
<ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
</ol>
{% endif %}
<form method="post" action="{% url 'gerenciamento_carteiras_cartoes_lancamentos:criar' carteira_slug cartao_slug %}">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" role="button" type="submit" value="Gravar">
    <div style="float: right;">
        <button class="btn btn-outline-primary" role="button" onclick="window.history.back();">Voltar</button>
    </div>
</form>
{% endblock %}