{% extends "base/base.html" %}
{% load transformar_em_texto %}

{% block titulo %}Carteiras{% endblock %}

{% block cabecalho %}
<div class="container">
    <div class="bd-intro ps-lg-4">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <h1 class="bd-title" id="content">Carteira</h1>
        </div>
        <p class="bd-lead">Detalhamento da carteira registrada.</p>
    </div>
</div>
{% endblock %}

{% block conteudo %}
<form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="inputTitulo" class="form-label">Titulo</label>
      <input type="text" id="inputTitulo" class="form-control" value="{{ object.titulo }}">
    </div>
    <div class="mb-3">
      <label for="inputSlug" class="form-label">Slug</label>
      <input type="text" id="inputSlug" class="form-control" value="{{ object.slug }}">
    </div>
    <div class="mb-3">
      <label for="inputLimite" class="form-label">Limite</label>
      <input type="text" id="inputLimite" class="form-control" value="{{ object.tipo }}">
    </div>
    <div class="mb-3">
      <label for="inputCriadoEm" class="form-label">Criado em</label>
      <input type="datetime-local" id="inputCriadoEm" class="form-control"
        value="{{ object.criado_em|datetime_para_texto }}">
    </div>
    <div class="mb-3">
      <label for="inputAtualizadoEm" class="form-label">Atualizado em</label>
      <input type="datetime-local" id="inputAtualizadoEm" class="form-control"
        value="{{ object.atualizado_em|datetime_para_texto }}">
    </div>
  </fieldset>
</form>
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'carteiras:editar' object.id %}">Editar</a>
</div>
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'carteiras:excluir' object.id %}">Excluir</a>
</div>
<div style="float: right; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'carteiras:lista' %}">Voltar</a>
</div>

{% endblock %}