{% extends "base/base.html" %}
{% load transformar_em_texto %}

{% block titulo %}Carteiras{% endblock %}

{% block cabecalho %}
<div class="container">
  <h1>Carteira</h1>
  <p>Detalhamento da carteira registrada.</p>
</div>
{% endblock %}

{% block conteudo %}
<form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="inputTitulo" class="form-label">Nome</label>
      <input type="text" id="inputTitulo" class="form-control" value="{{ carteira.nome }}">
    </div>
  </fieldset>
</form>
{% if carteira.tem_cartoes %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'gerenciamento_carteiras_cartoes:listar' carteira.slug %}">Listar Cartões</a>
</div>
{% else %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{% url 'gerenciamento_carteiras_cartoes:criar' carteira.slug %}">Criar Primeiro Cartão</a>
</div>
{% endif %}
<div style="float: right; margin-left: 3px;">
  <button class="btn btn-outline-primary" role="button" onclick="window.history.back();">Voltar</button>
</div>
{% endblock %}