{% extends "base/template.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}Gerenciamento{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/carteiras/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/flickity/flickity.min.css' %}" media="screen">
{% endblock %}

{% block cabecalho %}
{% endblock %}

{% block conteudo %}
<div class="feed">
    <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround": true }'>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
    </div>
    <div class="cartao">
        <div class="cartao-cabecalho">
            <div class="cartao-titulo">Cartões e Contas</div>
            <a class="cartao-menu nostyle" href="{% url 'carteiras_cartoes:criar' carteira.slug %}">
                <img class="cartao-menu-icone" src="{% static 'icon/add_gray_24dp.svg' %}" />
            </a>
        </div>
        <div class="cartao-conteudo">
            {% for centro_custo in centro_custos %}
            <div class="lancamento-linha">
                <div class="lancamento-logo">?</div>
                <div class="lancamento-titulo">{{ centro_custo.descricao }}</div>
                <div class="lancamento-valor">R$ {{ centro_custo.valor_total|intcomma }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
        <div class="bloco col-12">
            <div class="bloco-ancora"></div>
            <div class="bloco-cabecalho">
                <div class="bloco-titulo">Lançamentos</div>
                <a class="bloco-menu nostyle" href="{% url 'carteiras_lancamentos:criar' carteira.slug %}">
                    <img class="bloco-menu-icone" src="{% static 'icon/add_gray_24dp.svg' %}" />
                </a>
            </div>
            <div class="bloco-conteudo">
                {% for lancamento in lancamentos %}
                <div class="lancamento-linha">
                    <div class="lancamento-logo">?</div>
                    <div class="lancamento-titulo">{{ lancamento.descricao}}</div>
                    <div class="lancamento-data">{{ lancamento.datahora|date:'d/m/Y H:i' }}</div>
                    <div class="lancamento-valor">R$ {{ lancamento.valor|intcomma }}</div>
                </div>
                {% endfor %}
            </div>
            {% if lancamentos_continua %}
            <div class="bloco-rodape"><a class="nostyle" href="{% url 'carteiras_lancamentos:listar' carteira.slug %}">Ver mais +</a></div>
            {% endif %}
        </div>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'vendor/flickity/flickity.pkgd.min.js' %}"></script>
{% endblock %}
