{% extends "base/base.html" %}
{% load transformar_em_texto %}

{% block titulo %}Carteiras{% endblock %}

{% block cabecalho %}
<div class="container">
  <h1>Carteira</h1>
  <p>Detalhamento da carteira registrada.</p>
</div>
{% endblock %}

{% block conteudo %}
<form>
  <fieldset disabled>
    <div class="mb-3">
      <label for="inputTitulo" class="form-label">Nome</label>
      <input type="text" id="inputTitulo" class="form-control" value="{{ carteira.nome }}">
    </div>
  </fieldset>
</form>
{% if carteira.tem_cartoes %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button"
    href="{% url 'carteiras:cartoes:listar' carteira.slug %}">Listar Cartões</a>
</div>
{% else %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button"
    href="{% url 'carteiras:cartoes:criar' carteira.slug %}">Criar Primeiro Cartão</a>
</div>
{% endif %}
{% if carteira.tem_contas %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button"
    href="{% url 'carteiras:contas:listar' carteira.slug %}">Listar Contas</a>
</div>
{% else %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button"
    href="{% url 'carteiras:contas:criar' carteira.slug %}">Criar Primeira Conta</a>
</div>
{% endif %}
{% if carteira.tem_centro_custos %}
{% if carteira.tem_lancamentos %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button"
    href="{% url 'carteiras:lancamentos:listar' carteira.slug %}">Listar Lançamento</a>
</div>
{% else %}
<div style="float: left; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button"
    href="{% url 'carteiras:lancamentos:criar' carteira.slug %}">Criar Lançamento</a>
</div>
{% endif %}
{% endif %}
<div style="float: right; margin-left: 3px;">
  <a class="btn btn-outline-primary" role="button" href="{{ href_voltar }}">Voltar</a>
</div>
{% endblock %}