{% extends "base/base.html" %}
{% load transformar_em_texto %}

{% block titulo %}Carteiras{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Carteira</h1>
    <p>Lista de carteiras registradas.</p>
</div>
{% endblock %}

{% block conteudo %}
<div style="float: right;">
    <p>
        <a class="btn btn-primary" role="button" href="{% url 'gerenciamento_carteiras:criar' %}">Criar</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for carteira in carteiras %}
        <tr onclick="window.location='{% url 'gerenciamento_carteiras:detalhar' carteira.slug %}'">
            <td>{{ carteira.nome }}</td>
            <td>
                <a href="{% url 'gerenciamento_carteiras:editar' carteira.slug %}">editar</a>
                <a href="{% url 'gerenciamento_carteiras:excluir' carteira.slug %}">excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'base/paginacao.html' %}
<div style="float: right;">
    <button class="btn btn-outline-primary" role="button" onclick="window.history.back();">Voltar</button>
</div>
{% endblock %}