* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Righteous";
    src: url("font/Righteous/Righteous-Regular.ttf");
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-Italic.ttf");
    font-style: italic;
}

body {
    background-color: #EEF2F6;
    font-family: "PTSans", sans-serif;
    font-size: 1rem;
    /* letter-spacing: 1px; */
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Para mobile: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .container {
        padding-right: 20%;
        padding-left: 20%;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.barra-superior {
    padding: 1.3rem 0 3.3rem 0;
}

@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .barra-superior {
        padding: 1.3rem 0.5rem 3.3rem 0.5rem;
    }
}

.barra-superior .barra-superior-logo {
    float: left;
    font-family: "Righteous";
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.barra-superior .barra-superior-menu {
    float: right;
}

.barra-superior-menu .botao-menu-lateral {
    border: none;
    display: inline-flex;
    padding-top: 5px;
}

.usuario-nome {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -3px;
}

.usuario-foto {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 10px;
    margin-top: -6px;
}

.botao-menu {
    margin-right: 3px;
    margin-top: -7px;
}

.hamburguer-linha {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #212529;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 103vw;
    width: 80vw;
    height: 100vh;
    transition: 0.5s;
    z-index: 21;
    background-color: white;
    box-shadow: -3px 3px 20px 0 #e4e9ef;
}

.menu-lateral-aberto {
    transform: translateX(-83vw);
}

.menu-lateral-fechado {
    transform: translateX(103vw);
}

.menu-lateral-2-plano {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
}

.menu-lateral-2-plano-aberto {
    transform: translateX(0vw);
}

.menu-lateral-2-plano-fechado {
    transform: translateX(100vw);
}

@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .menu-lateral {
        width: 21rem;
    }
    .menu-lateral-aberto {
        transform: translateX(-23vw);
    }
    .menu-lateral-fechado {
        transform: translateX(103vw);
    }
}

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cartao {
    background-color: #FDFCFC;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    margin-bottom: 15px;
    grid-template-areas: 
        'cartaoCabecalho'
        'cartaoCorpo'
        'cartaoRodape';
    box-shadow: 3px 3px 3px 0px #e4e9ef;
}

@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .cartao {
        max-width: 350px;
        margin: 0 5px 15px 5px;
    }
}

.cartao-cabecalho {
    grid-area: cartaoCabecalho;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'cartaoCabecTitulo cartaoCabecTitulo cartaoCabecTitulo cartaoCabecMenu';
}

.cartao-rodape {
    grid-area: cartaoRodape;
    text-align: center;
    color: #B5B3C0;
    font-size: 1.1rem;
}

.cartao-titulo {
    grid-area: cartaoCabecTitulo;
    text-align: left;
    color: #B5B3C0;
    font-size: 1.1rem;
    font-weight: bold;
}

.cartao-menu {
    grid-area: cartaoCabecMenu;
    text-align: right;
    color: #B5B3C0;
    font-size: 1.1rem;
    line-height: 10px;
}

.cartao-conteudo {
    grid-area: cartaoCorpo;
}

.cartao-menu-icone {
    width: 26px;
}

.bloco {
    background-color: #FDFCFC;
    width: 100%;
    border-radius: 10px;
    padding: 1.4rem;
    display: grid;
    grid-template-areas:
        'blocoAncora'
        'blocoCabecalho'
        'blocoCorpo'
        'blocoRodape';
    box-shadow: 3px 3px 3px 0px #e4e9ef;
}

@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .bloco {
        margin: 0 5px 15px 5px;
    }
}

.bloco-ancora {
    grid-area: blocoAncora;
    height: 3px;
    width: 35px;
    background: #EEF2F6;
    margin: auto;
    border-radius: 20px;
}

.bloco-cabecalho {
    grid-area: blocoCabecalho;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'blocoCabecTitulo blocoCabecTitulo blocoCabecTitulo blocoCabecMenu';
}

.bloco-rodape {
    grid-area: blocoRodape;
    text-align: center;
    color: #B5B3C0;
    font-size: 1.1rem;
}

.bloco-titulo {
    grid-area: blocoCabecTitulo;
    text-align: left;
    color: #B5B3C0;
    font-size: 1.1rem;
    font-weight: bold;
}

.bloco-menu {
    grid-area: blocoCabecMenu;
    text-align: right;
    color: #B5B3C0;
    font-size: 1.1rem;
    line-height: 10px;
}

.bloco-menu-icone {
    width: 26px;
}

.bloco-conteudo {
    grid-area: blocoCorpo;
}