:root {
    --cor-primaria: #4695EF;
    --cor-primaria-inativa: #77B0F0;
    --cor-secundaria: #FE55A3;
    --cor-secundaria-inativa: #FF9AA0;
    --cor-terciaria: #842FEF;
    --cor-terciaria-inativa: #BE95F0;
    --cor-quartenaria: #FF7F7E;
    --cor-quartenaria-inativa: #FFC0B1;

    --fonte-cor-bg-claro-primaria: #212529;
    --fonte-cor-bg-claro-secundaria: #B5B3C0;
    --fonte-cor-bg-escuro-primaria: #FFF;
    --fonte-cor-bg-escuro-secundaria: #B5B3C0;

    --cor-fundo: #EEF2F6;
    --cor-fundo-conteudo: #FFF;

    --cor-sombra-primaria: #E4E9EF;
    --cor-sombra-secundaria: #B6BCC0;

    --fonte-familia: "PTSans", sans-serif;
    --fonte-familia-titulo: "Righteous", sans-serif;

    --margin-bottom-tela-pequena: 10px;
    --margin-tela-grande: 6px;

    --tela-1-min-width: 576px;
    --elemento-1-max-width: 540px;
    --tela-2-min-width: 768px;
    --elemento-2-max-width: 720;
    --tela-3-min-width: 992px;
    --elemento-3-max-width: 960px;
    --tela-4-min-width: 1200px;
    --elemento-4-max-width: 1140px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Righteous";
    src: url("font/Righteous/Righteous-Regular.ttf");
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "PTSans";
    src: url("font/PT_Sans/PTSans-Italic.ttf");
    font-style: italic;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-familia);
    font-size: 1rem;
    /* letter-spacing: 1px; */
    font-weight: 400;
    line-height: 1.5;
    color: var(--fonte-cor-bg-claro-primaria);
    text-align: left;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }    
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;   
}

[class*="col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-1 {
        width: 8.33%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33%;
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66%;
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }
    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66%;
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }
    .col-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33%;
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
    .col-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }
    .col-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33%;
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    .col-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66%;
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }
    .col-12 {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.barra-superior {
    padding: 1.3rem 0 3.3rem 0;
}

.barra-superior .barra-superior-logo {
    float: left;
    font-family: "Righteous";
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.barra-superior .barra-superior-menu {
    float: right;
}

.barra-superior-menu .botao-menu-lateral {
    border: none;
    display: inline-flex;
    padding-top: 5px;
}

.usuario-nome {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -3px;
}

.usuario-foto {
    width: 2rem;
    height: 2rem;
    background-color: var(--cor-fundo-conteudo);
    border-radius: 10px;
    margin-top: -6px;
}

.botao-menu {
    margin-right: 3px;
    margin-top: -7px;
}

.hamburguer-linha {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: var(--fonte-cor-bg-claro-primaria);
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 103vw;
    width: 80vw;
    height: 100vh;
    transition: 0.5s;
    z-index: 21;
    background-color: var(--cor-fundo-conteudo);
    box-shadow: -3px 3px 20px 0 var(--cor-sombra-primaria);
}

.menu-lateral-aberto {
    transform: translateX(-83vw);
}

.menu-lateral-fechado {
    transform: translateX(103vw);
}

.menu-lateral-2-plano {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
}

.menu-lateral-2-plano-aberto {
    transform: translateX(0vw);
}

.menu-lateral-2-plano-fechado {
    transform: translateX(100vw);
}

@media only screen and (min-width: 768px) {
    .menu-lateral {
        width: 21rem;
    }
    .menu-lateral-aberto {
        transform: translateX(-23vw);
    }
    .menu-lateral-fechado {
        transform: translateX(103vw);
    }
}

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cartao {
    background-color: var(--cor-fundo-conteudo);
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    margin-bottom: 10px;
    grid-template-areas: 
        'cartaoCabecalho'
        'cartaoCorpo'
        'cartaoRodape';
    box-shadow: 3px 3px 3px 0px var(--cor-sombra-primaria);
}

@media (min-width: 576px) {
    .cartao {
        margin: 6px;
    }
}

.cartao-cabecalho {
    grid-area: cartaoCabecalho;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'cartaoCabecTitulo cartaoCabecTitulo cartaoCabecTitulo cartaoCabecMenu';
}

.cartao-rodape {
    grid-area: cartaoRodape;
    text-align: center;
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 1.1rem;
}

.cartao-titulo {
    grid-area: cartaoCabecTitulo;
    text-align: left;
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 1.1rem;
    font-weight: bold;
}

.cartao-menu {
    grid-area: cartaoCabecMenu;
    text-align: right;
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 1.1rem;
    line-height: 10px;
    margin-right: -7px;
}

.cartao-conteudo {
    grid-area: cartaoCorpo;
}

.cartao-menu-icone {
    width: 26px;
}

.bloco {
    background-color: var(--cor-fundo-conteudo);
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-areas:
        'blocoAncora'
        'blocoCabecalho'
        'blocoCorpo'
        'blocoRodape';
    box-shadow: 3px 3px 3px 0px var(--cor-sombra-primaria);
}

@media only screen and (min-width: 576px) {
    .bloco {
        margin: 6px;
    }
}

.bloco-ancora {
    grid-area: blocoAncora;
    height: 4px;
    width: 35px;
    background: var(--cor-fundo);
    margin: auto;
    margin-bottom: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

.bloco-cabecalho {
    grid-area: blocoCabecalho;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'blocoCabecTitulo blocoCabecMenu';
    grid-template-columns: 90% 10%;
}

.bloco-rodape {
    grid-area: blocoRodape;
    text-align: center;
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 1.1rem;
    margin-top: 10px;
}

.bloco-titulo {
    grid-area: blocoCabecTitulo;
    text-align: left;
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 1.1rem;
    font-weight: bold;
}

.bloco-menu {
    grid-area: blocoCabecMenu;
    text-align: right;
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 1.1rem;
    line-height: 10px;
    margin-right: -7px;
}

.bloco-menu-icone {
    width: 26px;
}

.bloco-conteudo {
    grid-area: blocoCorpo;
}

.botao {
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 0px var(--cor-sombra-primaria);
    line-height: 3rem;
    text-align: center;
    text-decoration: inherit;
    cursor: auto;
    font-weight: bold;
}

.botao:active {
    box-shadow: 3px 3px 3px 0px var(--cor-sombra-secundaria);
    transform: translateY(1px);
}

@media (min-width: 576px) {
    .botao {
        margin-bottom: 0;
    }
}

.botao-primario {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-primario-inativo {
    background-color: var(--cor-primaria-inativo);
    border-color: var(--cor-primaria-inativo);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-secundario {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-secundario-inativo {
    background-color: var(--cor-secundaria-inativo);
    border-color: var(--cor-secundaria-inativo);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-terciario {
    background-color: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-terciario-inativo {
    background-color: var(--cor-terciaria-inativo);
    border-color: var(--cor-terciaria-inativo);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-quartenario {
    background-color: var(--cor-quartenaria);
    border-color: var(--cor-quartenaria);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

.botao-quartenario-inativo {
    background-color: var(--cor-quartenaria-inativo);
    border-color: var(--cor-quartenaria-inativo);
    color: var(--fonte-cor-bg-escuro-primaria) !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--cor-fundo-conteudo);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--cor-sombra-primaria);
    width: 90%;
    border-radius: 10px;
}

/* The Close Button */
.modal-close {
    color: var(--fonte-cor-bg-claro-secundaria);
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}