<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesas</title>
</head>

<body>
    <h1>Despesas</h1>

    <a href="{% url 'despesas:criar' %}">Criar</a>

    {% if object_list %}
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for despesa in object_list %}
            <tr>
                <td>{{ despesa.datahora }}</td>
                <td>{{ despesa.descricao }}</td>
                <td>{{ despesa.valor }}</td>
                <td>{{ despesa.categoria }}</td>
                <td>
                    <a href="{% url 'despesas:detalhe' despesa.id %}" hidden>detalhe</a>
                    <a href="{% url 'despesas:editar' despesa.id %}">editar</a>
                    <a href="{% url 'despesas:excluir' despesa.id %}">excluir</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sem despesas.</p>
    {% endif %}
</body>

</html>