{% extends "base/base.html" %}

{% block titulo %}PublicoPage{% endblock %}

{% block cabecalho %}
<div class="container">
    <h1>Controle Financeiro</h1>
    <p>Ferramenta de apoio para seu controle financeiro.</p>
</div>
{% endblock %}

{% block conteudo %}
<div>
    {% if request.user.is_authenticated %}
    <p>
        <a href="{% url 'carteiras:listar' %}">Carteiras</a>
    </p>
    <p>
        <a href="{% url 'cartoes:listar' %}">Cartões</a>
    </p>
    <p>
        <a href="{% url 'lancamentos:listar' %}">lancamentos</a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'autenticacao:login' %}">Favor efetue o login</a>
    </p>
    {% endif %}
</div>
{% endblock %}