{% load dom_efeitos %}

<nav class="barra-superior">
    <a class="nostyle" href="{% if request.user.is_authenticated %}{% url 'gerenciamento:index' %}{% else %}{% url 'paginas:index' %}{% endif %}">
        <div class="barra-superior-logo">CONFIN</div>
    </a>
    <div class="barra-superior-menu">
        <div class="botao-menu-lateral" onclick="menuLateralAbrir(true)">
            {% if request.user.is_authenticated %}
            <div class="usuario-nome">{{ request.user.nome_apresentacao }}</div>
            <div class="usuario-foto"></div>
            {% else %}
            <div class="botao-menu"><div>
                <div class="hamburguer-linha"></div>
                <div class="hamburguer-linha"></div>
                <div class="hamburguer-linha"></div>
            </div></div>
            {% endif %}
        </div>
    </div>
</nav>
<aside>
    <div class="menu-lateral-2-plano menu-lateral-2-plano-fechado" onclick="menuLateralAbrir(false)"></div>
    <div class="menu-lateral menu-lateral-fechado">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item{{ request|nav_item_active:'carteiras' }}">
                <a class="nostyle" href="{% url 'gerenciamento:index' %}">Gerenciamento</a>
            </li>
            <li class="nav-item{{ request|nav_item_active:'registration,autenticacao' }}">
                <a class="nostyle" href="{% url 'autenticacao:logout_confirmar' %}">
                    {{ request.user.nome_apresentacao }}{% if request|span_sr_only:'registration,autenticacao' %} <span class="sr-only">(current)</span>{% endif %}
                    > Logout
                </a>
            </li>
            {% else %}
            <li class="nav-item{{ request|nav_item_active:'registration,autenticacao' }}">
                <a class="nostyle" href="{% url 'autenticacao:login' %}">Login/Registrar{% if request|span_sr_only:'registration,autenticacao' %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</aside>