* {
    box-sizing: border-box;
}

body {
    background-color: #EEF2F6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Para mobile: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.barra-superior {
    padding: 1.3rem 0 3.3rem 0;
}

.barra-superior .barra-superior-logo {
    float: left;
}

.barra-superior .barra-superior-menu {
    float: right;
}

.barra-superior-menu .botao-menu-lateral {
    border: none;
    display: inline-flex;
}

.usuario-nome {
    margin-right: 10px;
}

.usuario-foto {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 10px;
    margin-top: -6px;
}

.botao-menu {
    margin-right: 3px;
    margin-top: -7px;
}

.hamburguer-linha {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #212529;
}

.menu-lateral {
    position: fixed;
    top: 0;
    width: 80vw;
    height: 100vh;
    transition: 0.5s;
    z-index: 21;
    background-color: white;
    box-shadow: 0 0px 20px 0 #888;
}

.menu-lateral-aberto {
    transform: translateX(20vw);
}

.menu-lateral-fechado {
    transform: translateX(120vw);
}

.menu-lateral-2-plano {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
}

.menu-lateral-2-plano-aberto {
    transform: translateX(0vw);
}

.menu-lateral-2-plano-fechado {
    transform: translateX(100vw);
}

@media only screen and (min-width: 768px) {
    /* Para desktop: */
    .menu-lateral {
        width: 21rem;
    }
    .menu-lateral-aberto {
        transform: translateX(82vw);
    }
    .menu-lateral-fechado {
        transform: translateX(120vw);
    }
}

.cartao {
    float: left;
    background-color: #FDFCFC;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-areas: 
        'cartaoCabecalho'
        'cartaoCorpo';
}

.cartao-superior {
    grid-area: cartaoCabecalho;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'cartaoCabecTitulo cartaoCabecTitulo cartaoCabecTitulo cartaoCabecMenu';
}

.cartao-titulo {
    grid-area: cartaoCabecTitulo;
    text-align: left;
    color: #B5B3C0;
    font-size: 1.1rem;
}

.cartao-menu {
    grid-area: cartaoCabecMenu;
    text-align: right;
    color: #B5B3C0;
    font-size: 1.1rem;
    line-height: 10px;
}

.cartao-conteudo {
    grid-area: cartaoCorpo;
}

.lancamento-linha {
    margin-bottom: 5px;
    display: grid;
    grid-template-areas: 
        'lancLogo lancTitulo lancTitulo lancTitulo lancValor'
        'lancLogo lancData lancData lancData lancValor';
}

.lancamento-logo { 
    grid-area: lancLogo;
    line-height: 45px;
    color: #B5B3C0;
    font-size: 1.2rem;
    font-weight: bold;
}

.lancamento-titulo {
    grid-area: lancTitulo;
    color: #212529;
    font-size: 1rem;
    font-weight: bold;
}

.lancamento-data {
    grid-area: lancData;
    color: #B5B3C0;
    font-size: 0.9rem;
}

.lancamento-valor {
    grid-area: lancValor;
    text-align: right;
    line-height: 45px;
    font-size: 1.1rem;
    font-weight: bold;
}

.bloco {
    float: left;
    background-color: #FDFCFC;
    width: 100%;
    border-radius: 25px 25px 0 0;
    padding: 1.4rem;
    display: grid;
    grid-template-areas:
        'blocoAncora'
        'blocoCabecalho'
        'blocoCorpo'
        'blocoRodape';
}

.bloco-ancora {
    grid-area: blocoAncora;
    height: 3px;
    width: 10%;
    background: #EEF2F6;
    margin: auto;
    border-radius: 20px;
}

.bloco-cabecalho {
    grid-area: blocoCabecalho;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'blocoCabecTitulo blocoCabecTitulo blocoCabecTitulo blocoCabecMenu';
}

.bloco-rodape {
    grid-area: blocoRodape;
    text-align: center;
    color: #B5B3C0;
    font-size: 1.1rem;
}

.bloco-titulo {
    grid-area: blocoCabecTitulo;
    text-align: left;
    color: #B5B3C0;
    font-size: 1.1rem;
}

.bloco-menu {
    grid-area: blocoCabecMenu;
    text-align: right;
    color: #B5B3C0;
    font-size: 1.1rem;
    line-height: 10px;
}

.bloco-conteudo {
    grid-area: blocoCorpo;
}